.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  padding: 0;
  margin:0;
}

h4 {
  margin: 5px 0;
}

.container-card {
  margin-top: 1em;
  padding: 0.5em 2em;
  background-color: white;
  color: #282c34;
  border-radius: 1em;
}